.bikeBrand{
    height: 200px;
    width: 97%;
    border: 1px rgb(220, 220, 220) solid;
    margin: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding: 10px;
    margin: 5px;
   

    .span2{
      font-size: 25px;
    }
    .popular-bike-brand{
        
        width: 100%;
        height: 140px;
        overflow-x:scroll;
        display: flex;
        
        
        img{
            
            height: 120px;
           min-width: 140px;
            border: 1px rgb(220, 220, 220) solid;
            border-radius: 5px;
            margin: 5px;
        }
    }
}