.bikes{
    height: 280px;
    width: 97%;
    border: 1px rgb(220, 220, 220) solid;
    margin: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding: 10px;
    margin: 5px;
   

    .s4{
        font-size: 25px;
        margin-left: 12px;
       
    }
   .s5{
      font-size: 20px;
      margin: 15px;
   }

    .popular-bikes{
        
        width: 100%;
        height: 150px;
        overflow-x:scroll;
        display: flex;
        
        
        .vehicle-content{
           
            height: 140px;
            width: 180px;
            margin: 3px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border:  1px rgb(220, 220, 220) solid;


            img{
                height: 80px;
                width: 160px;
                margin-bottom:10px ;
            }

            #s1{
                color: green;
            }
        }
    }
}