@import './carBrand/index.scss';
@import './bikeBrand/index.scss';
@import './cars/index.scss';
@import './Bikes/index.scss';
@import './usedOne/index.scss';
@import './comparison/index.scss';
@import './bikeCompare/index.scss';
@import './News/index.scss';
@import './videos/index.scss';

.bodyDown{
    
    width: 100%;
    height: auto;
    padding-right: 5px;
}
