
.videos{
    width: 95%;
    height: auto;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    
    border: 1px rgb(220, 220, 220) solid;

    .all-news-content{
        height:auto ;
        width: 100%;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        
    }

 
}