
.car-compare{
   width:95%;
   height: 300px;
    padding:10px;
    border: 1px rgb(220, 220, 220) solid;
    margin: 10px;
    border-radius: 5px;
    
    .title{
        margin: 10px;
        font-size: 25px;
    }

    .all-one{

        
        height: 250px;
        width: 100%;
        display: flex;
        align-items: center;
        
        border-radius: 5px;
        overflow-x: scroll;
        
      .both-content{
          height: 200px;
          width: 400px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          flex-direction: column;
          border: 1px rgb(220, 220, 220) solid;
          margin: 5px;
          

          .img-content{
              height: 130px;
              width:400px ;
              position: relative;
              display: flex;
              border-radius: 5px;

              .left-img{
                height: 130px;
                width:200px ;
                background: yellowgreen;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .vs{
                height: 130px;
                width: 400px;
            
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
            
                .child-vs{
                    height: 30px;
                    width: 30px;
                    background: black;
                    border-radius: 100%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }
            .right-img{
                height: 130px;
                width: 200px;
                

                img{
                    height: 100%;
                    width: 100%;
                }
            }
          }
         .spans{
             
             width: 400px;
             height: 70px;

             .names{
                width:400px ;
                height:35px ;
                
                display: flex;
                justify-content: space-around;
                border-bottom: 1px rgb(220, 220, 220) solid;
                ;

             }
             .prices{
                width: 400px;
                height: 35px;
                
                display: flex;
                justify-content: space-around;
                color: green;
             }
         }
      }
  }     
}