
.newsA{
    width: 95%;
    height: 700px;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    border: 1px rgb(220, 220, 220) solid;
    

    .heading{
        width: 900px;
        height: 50px;
        
        margin: 20px;
   

    }
  
    .all-news-content{
      height: 550px;
      width: 95%;
      
    
      margin: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .news-content{
        height: 250px;
        width: 600px;
       background:rgb(220, 220, 220)  ;
        border: 1px rgb(220, 220, 220) solid;
        margin: 2px;
        display: flex;
        border-radius: 15px;
        overflow: auto;
        
        .img-content{
            height: 250px;
            width: 300px;
            margin: 5px;
    
            img{
                height: 240px;
                width: 290px;  
            }

        }
        .all-spans{
            height: 250px;
            width: 300px;
            
            padding: 10px;
        }
      }

  }
}